@media only screen and (min-width: 800px) {

    header {
        grid-row: 1;
        grid-template-columns:1;
        text-align: center;
       


    } 
    
    main {
        display: grid;
        grid-template-columns: 1.5fr 3fr 1.5fr;
        grid-template-rows: repeat(auto, minmax(150px, auto));
        

    }


    .f{
        display: flex nowrap;
        grid-row: 2;
        grid-column: 2;
       
       
    }

    input, label{
        display: block;

    }

    input[type=submit]{
        float: right;
    }

    input[type=text]{
        width:60%;
    }

    textarea[id=content]{
        width:100%;
    }

    nav a{
        text-decoration: none;
        color: grey;
    }

    nav{
        grid-column: 3;
        margin-top: 10px;
        text-align:center;
    }

    .korta{
        display: flex;
    
       grid-row:6;
       grid-column: 2;
      
       
       
    }

    .kortin{
        
        padding: 16px;
        text-align: left;
        font-size: 10px;
        margin: 10px;
    }

    .korta2{
        display: flex;
    
       grid-row:7;
       grid-column: 2;
      
       
       
    }

    .kortin2{
        
        padding: 16px;
        text-align: left;
        font-size: 10px;
        margin: 10px;
    }

    
  
    .todo{
        grid-row:4;
        grid-column:2;
        

    }

    .b{
    
    
    color:white;
    background-color: green;
    

    }

    .b2{
        color:green;
        float: right;
    }

}
