@media only screen and (min-width: 800px) {

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
     }


.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    background-color:#175A72;
    padding: 10px;
    max-width: 100%;
    grid-gap: 40px 50px;
    justify-items: center;
    grid-template-areas: 
    "header header header header"
    "nav nav nav nav"
    "main main"
    "footer footer footer footer";
        
    }

    .item1 {
        grid-area: header;
        grid-row-start: 1;
        grid-row-end: 3;
        border-bottom: 1px solid black;
        padding: 25px;
        font-size: 20px;
        text-align: center;
        width: 50%;
        color: black;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);


    } 
    
    .item2 {
        grid-area: main;
        grid-row-start: 4;
        grid-row-end: ;
        font-size: 30px;
        max-width: 50%;
        top: 99px;
        left: 50px;
        position: absolute;
        
    }

  

    .button{
        background-color: green;
        font-size: 30px;
        float: right;
    }


   
    
    
    .kort {
        float: left;
        width: 25%;
        padding: 0 10px;
        
       
      }

     
    
      .kort1 {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: left;
        background-color: #f1f1f1;
        font-size: 10px;
        margin: 10px;
        
      }  
    
      
      .boks {
          margin: 10%;

        }

        .b{
            float:right;
            background-color: green;

        }

 }
